
body {
    background-color: coral;
    margin: 0;
    padding: 0;
  }

.titl{
    color:rgb(42, 44, 42);

    
}
#navbar {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 999;
    background-color: antiquewhite;
    position: fixed;
}

#navbar #nav{
    float: right;
    padding-top: 15px;
    padding-right: 100px;
}
li{
    font-size: 22px;
    list-style: none;
    display: inline-block;
    padding-right: 70px;
    color: chartreuse;
}
li a{
    text-decoration: none;
    color: rgb(42, 44, 42);
}
li a:hover{
    color: coral;
}

#logo{
    float: left;
    padding-left: 100px;
}
.inside{
    padding-top: 100px;
    
    color: antiquewhite;

}
.one{
    margin-inline-start: 550px;
    font-size: 50px;
}
.two{
    margin-inline-start: 320px;
    font-size: 25px;
}
.three{
    margin-inline-start: 450px;
    font-size: 25px;
}
.four{
    margin-top: 100px;
    margin-inline-start: 400px;
}
.input{
 width: 100%;   
}
.five{
    margin-inline-start: 600px;
    background-color: #4CAF50; /* Green */
     border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
     display: inline-block;
    cursor: pointer;
    font-size: 20px;
}